.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }   
.mapboxgl-marker{
    cursor: pointer;
}
.menu--nav{
    display: flex;
    list-style-type: none;
    z-index: 1;
    position:absolute;
    justify-content: ce;
}
